body {
    padding-bottom: 20px;
    background: #ddd;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 0 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.brand, .brand:hover {
    text-decoration: none;
    display: block;
    font-size: 30px;
    color: #fff;
    padding: 10px 20px;
}

.desktop .nav-link {
    text-decoration: none;
    color: #ccc;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ccc;
}

.navbar-inversed {
    background: #333;
}